
.logo {
  width: 130px
}

.searchType {
    text-align-last: center
}

.searchType:focus {
    outline: none !important;
}

#searchResults {
    z-index: 10;
    max-height: 0rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    transition: all 0.3s;
}

#searchResults.show {
    max-height: 20rem;
}

#searchResults::-webkit-scrollbar {
    display: none;
}

.bg-image.lazy {
    background-image: none;
    background-color: #F1F1FA;
 }

.navbar-username {
    max-width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.min-vh-25{
    min-height: 25vh;
}
.min-vh-50{
    min-height: 25vh;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-username {
        max-width: 4rem !important;
    }
}