.form-check-input[type=checkbox]:focus::before{
    content: none;
}

.form-check-input[type=checkbox]:focus::after{
    background-color: #262626;
}

.btn-hover-custom:hover{
    color: #262626 !important;
}

.h-0{
    max-height: 0;
    opacity: 0;
}

.h-max{
    max-height: 5rem;
    opacity: 1;
}

.transition{
    transition: all 0.3s;
}

@media screen and (min-width: 576px) {
    .h-sm-initial{
        height: initial !important;
    }
}