.btn-check:active + .btn-outline-yellow, 
.btn-check:checked + .btn-outline-yellow, 
.btn-outline-yellow.active, 
.btn-outline-yellow.dropdown-toggle.show, 
.btn-outline-yellow:active {

    color: #000;
    background-color: #F9C80E;
    border-color: #F9C80E;

}

.to-watchlist-opacity{
    opacity: 0.6;
}

.to-watchlist-opacity:hover{
    opacity: 1;
}

.give-rating-hover{
    opacity: 0.6;
}

.give-rating-hover:hover{
    opacity: 1;
    color: #F9C80E;
}

.bg-grey{
    opacity: 1;
}

.rating-container .rating-stars{
    font-size: 18px;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    color: #000;
    background-color: #F9C80E;
}

.label{
    display: none !important;
}

.font-small{
    font-size: 14px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

@media screen and (min-width: 576px){
    .position-sm-absolute{
        position: absolute;
    }

    .fs-sm-6{
        font-size: 18px !important;
    }

    .bg-sm-dark{
        background-color: #262626;
    }
}

@media screen and (max-width: 575px){
    .fs-large{
        font-size: 20px !important;
    }
}

@media screen and (max-width: 370px) {
    .card-desc {
        display: none;
    }
}

@media screen and (min-width: 420px) {
    .line-clamp {
        -webkit-line-clamp: 3;
    }
}

@media screen and (min-width: 500px) {
    .line-clamp {
        -webkit-line-clamp: 4;
    }
}