<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>filters.UserAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>servlets.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>servlets.MovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>servlets.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheck</servlet-name>
        <servlet-class>servlets.UsernameCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>servlets.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>servlets.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSentController</servlet-name>
        <servlet-class>servlets.EmailSentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheck</servlet-name>
        <servlet-class>servlets.EmailCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowController</servlet-name>
        <servlet-class>servlets.ShowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchListController</servlet-name>
        <servlet-class>servlets.WatchListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>servlets.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileController</servlet-name>
        <servlet-class>servlets.MyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>servlets.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>servlets.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>servlets.ReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowController</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheck</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot%20password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSentController</servlet-name>
        <url-pattern>/EmailSentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/email%20sent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheck</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowController</servlet-name>
        <url-pattern>/ShowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchListController</servlet-name>
        <url-pattern>/watchlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/detailsUpdated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/passwordChanged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
