<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>filters.UserAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>filters.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/superAdmin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>servlets.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>servlets.MovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>servlets.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheck</servlet-name>
        <servlet-class>servlets.UsernameCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>servlets.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>servlets.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSentController</servlet-name>
        <servlet-class>servlets.EmailSentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheck</servlet-name>
        <servlet-class>servlets.EmailCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowController</servlet-name>
        <servlet-class>servlets.ShowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchListController</servlet-name>
        <servlet-class>servlets.WatchListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>servlets.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileController</servlet-name>
        <servlet-class>servlets.MyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>servlets.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>servlets.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>servlets.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePictures</servlet-name>
        <servlet-class>servlets.UpdatePictures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscoverController</servlet-name>
        <servlet-class>servlets.DiscoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeDislikeController</servlet-name>
        <servlet-class>servlets.LikeDislikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResultController</servlet-name>
        <servlet-class>servlets.SearchResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCarouselSuperAdministratorController</servlet-name>
        <servlet-class>servlets.updateCarouselSuperAdministratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropCarouselSuperAdministratorController</servlet-name>
        <servlet-class>servlets.DropCarouselSuperAdministratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarouselListController</servlet-name>
        <servlet-class>servlets.CarouselListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieDetails</servlet-name>
        <servlet-class>servlets.GetMovieDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUsers</servlet-name>
        <servlet-class>servlets.manageUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCarousel</servlet-name>
        <servlet-class>servlets.manageCarousel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageReviews</servlet-name>
        <servlet-class>servlets.manageReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageStats</servlet-name>
        <servlet-class>servlets.manageStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailsController</servlet-name>
        <servlet-class>servlets.GetDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>servlets.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllReviewsController</servlet-name>
        <servlet-class>servlets.GetAllReviewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReviewController</servlet-name>
        <servlet-class>servlets.DeleteReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendController</servlet-name>
        <servlet-class>servlets.AddFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReachUsController</servlet-name>
        <servlet-class>servlets.ReachUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailRecievedController</servlet-name>
        <servlet-class>servlets.EmailRecievedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>servlets.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFriendController</servlet-name>
        <servlet-class>servlets.RemoveFriendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowController</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheck</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot%20password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSentController</servlet-name>
        <url-pattern>/EmailSentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/email%20sent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheck</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowController</servlet-name>
        <url-pattern>/ShowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchListController</servlet-name>
        <url-pattern>/watchlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/passwordChanged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePictures</servlet-name>
        <url-pattern>/picturesUpdated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeDislikeController</servlet-name>
        <url-pattern>/LikeDislikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscoverController</servlet-name>
        <url-pattern>/movies</url-pattern>
        <url-pattern>/shows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeDislikeController</servlet-name>
        <url-pattern>/LikeDislikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUsers</servlet-name>
        <url-pattern>/superAdmin/manageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCarousel</servlet-name>
        <url-pattern>/superAdmin/manageCarousel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageReviews</servlet-name>
        <url-pattern>/superAdmin/manageReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendController</servlet-name>
        <url-pattern>/AddFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReachUsController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailRecievedController</servlet-name>
        <url-pattern>/emailRecieved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFriendController</servlet-name>
        <url-pattern>/RemoveFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageStats</servlet-name>
        <url-pattern>/superAdmin</url-pattern>
        <url-pattern>/superAdmin/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/superAdmin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailsController</servlet-name>
        <url-pattern>/superAdmin/getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/superAdmin/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/detailsUpdated</url-pattern>
        <url-pattern>/superAdmin/detailsUpdated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllReviewsController</servlet-name>
        <url-pattern>/superAdmin/getReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReviewController</servlet-name>
        <url-pattern>/superAdmin/deleteReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCarouselSuperAdministratorController</servlet-name>
        <url-pattern>/superAdmin/carouselUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropCarouselSuperAdministratorController</servlet-name>
        <url-pattern>/superAdmin/carouselDrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarouselListController</servlet-name>
        <url-pattern>/superAdmin/getCarouselList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieDetails</servlet-name>
        <url-pattern>/getMovieDetails</url-pattern>
        <url-pattern>/superAdmin/getMovieDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResultController</servlet-name>
        <url-pattern>/superAdmin/superadmin_search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
